.buildpath
/.settings
.project
*.patch
/.idea
/.git
/runtime
/vendor
/.phpintel
.env
.env.backup
.env.production
.DS_Store
.phpunit*
*.cache
/.vscode
.phpactor.json
/public/storage
/database/*.sqlite
/storage/*.key
/node_modules
/.phpunit.cache
.phpunit.result.cache